#container {
    width: 816px;
    text-align: justify;
    background-color: #fff;
    margin: auto;
}
body {
    background-color: #cccccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
}
p::first-letter {
    color: blue;
    font-weight: bold;
    font-size: 38px;
    font-family: Times New Roman;
}
#content {
    width: 600px;
    height: 300px;
    float: right; 
    background-color: #FFF;
    padding-left: 8px;
    padding-right: 8px;
}
#nav {
    width: 200px;
    height: 300px;
    float: left; 
    background-color: #e7e7e7
}
#header {
    height: 50px;
    width: 787px;
    background-color: #b0b0b0;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 30px;
    text-align: left;
}
ul {
margin: 0; padding: 0; list-style: none;
}
a { 
    display: block; 
    width:200px; 
    height: 40px;
    line-height :40px;
    color: #000000; 
    text-decoration: none; 
    font-size:12px;
    background: url(images1/rol.gif) no-repeat left bottom;
    text-indent: 40px;
}
a:hover {
    background-position: right bottom;
    color: white;
    font-weight: bold;
}